@import "./_bootstrap-custom.scss";

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App > main {
  flex-grow: 1;
}

.btn {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.text-shadow {
  text-shadow: 1px 1px #000000;
}

.text-small {
  font-size: 0.8rem;
}

.text-strong {
  font-weight: 600;
}

.text-underline{
  text-decoration: underline;
}

.font-titanOne {
  font-family: "Titan One" !important;
}
.font-quickSand {
  font-family: "Quicksand", sans-serif !important;
}

.cursor-default {
  cursor: context-menu;
}
.pointer {
  cursor: pointer;
}
.all-transitions {
  transition: all 0.75s;
}

.navbar-expand-md > .container {
  padding-left: 9px;
  padding-right: 9px;
}

.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
